.titlePage {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.text {
    margin-left: 20px;
    font-size: 20px;
}

/* Contato */
.contact {
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    padding: 50px 50px;
    border-radius: 10px;
    background-color: #f8f9fa;
}



/*  */